In [51]:
import numpy as np
import pandas as pd

In [110]:
df1=pd.read_excel('HIV_0000000006.xlsx')
df1

          WHO region  Year Number of deaths due to HIV/AIDS
0             Global  2019        690 000 [500 000–970 000]
1             Global  2018      730 000 [530 000–1 000 000]
2             Global  2017      760 000 [550 000–1 100 000]
3             Global  2016      800 000 [580 000–1 100 000]
4             Global  2015      830 000 [610 000–1 200 000]
..               ...   ...                              ...
205  Western Pacific  1994               7700 [4100–13 000]
206  Western Pacific  1993                 5500 [2900–9500]
207  Western Pacific  1992                 4000 [2100–6800]
208  Western Pacific  1991                 2900 [1600–5000]
209  Western Pacific  1990                 2100 [1100–3600]

[210 rows x 3 columns]

In [111]:
for i in range(len(df1)):
    df1['Number of deaths due to HIV/AIDS'][i]=df1['Number of deaths due to HIV/AIDS'][i].split("[")[0]

C:\Users\sanka\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [112]:
df1

          WHO region  Year Number of deaths due to HIV/AIDS
0             Global  2019                         690 000
1             Global  2018                         730 000
2             Global  2017                         760 000
3             Global  2016                         800 000
4             Global  2015                         830 000
..               ...   ...                              ...
205  Western Pacific  1994                            7700
206  Western Pacific  1993                            5500
207  Western Pacific  1992                            4000
208  Western Pacific  1991                            2900
209  Western Pacific  1990                            2100

[210 rows x 3 columns]

In [113]:
for j in range(len(df1)):
    l=df1['Number of deaths due to HIV/AIDS'][j].split(" ")
    ans=""
    for i in range(len(l)):
        ans+=l[i]
    df1['Number of deaths due to HIV/AIDS'][j]=int(ans)

C:\Users\sanka\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [114]:
df1

          WHO region  Year Number of deaths due to HIV/AIDS
0             Global  2019                           690000
1             Global  2018                           730000
2             Global  2017                           760000
3             Global  2016                           800000
4             Global  2015                           830000
..               ...   ...                              ...
205  Western Pacific  1994                             7700
206  Western Pacific  1993                             5500
207  Western Pacific  1992                             4000
208  Western Pacific  1991                             2900
209  Western Pacific  1990                             2100

[210 rows x 3 columns]

In [115]:
df1.to_excel('Updated_HIV_0000000006.xlsx',index=False)

In [116]:
df2=pd.read_excel('HIV_0000000001 (2).xlsx')
df2

              REGION  YEAR PEOPLE HAVING HIV
0             Global  2019       38 000 000
1             Global  2018        37 300 000
2             Global  2017        36 500 000
3             Global  2016        35 700 000
4             Global  2015       34 900 000
..               ...   ...               ...
205  Western Pacific  1994          320 000
206  Western Pacific  1993          200 000
207  Western Pacific  1992          150 000
208  Western Pacific  1991           120 000
209  Western Pacific  1990           90 000

[210 rows x 3 columns]

In [117]:
for j in range(len(df2)):
    l=df2['PEOPLE HAVING HIV'][j].split(" ")
    ans=""
    for i in range(len(l)):
        ans+=l[i]
    df2['PEOPLE HAVING HIV'][j]=int(ans)

C:\Users\sanka\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [118]:
df2.to_excel('Updated_HIV_0000000001 (2).xlsx',index=False)

In [86]:
df3=pd.read_excel('HIV_0000000026,SDGHIV (1).xlsx')
df3

,Unnamed: 0,Unnamed: 1,Number of new HIV infections,New HIV infections (per 1000 uninfected population),New HIV infections (per 1000 uninfected population).1,New HIV infections (per 1000 uninfected population).2
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
...,...,...,...,...,...,...
206,Western Pacific,1994,140 000 [87 000–180 000],0.09 [0.05–0.12],0.13 [0.08–0.17],0.05 [0.03-0.06]
207,Western Pacific,1993,50 000 [32 000–67 000],0.03 [0.02–0.04],0.05 [0.03–0.06],0.02 [&lt;0.01-0.02]
208,Western Pacific,1992,40 000 [25 000–53 000],0.03 [0.02–0.03],0.04 [0.02–0.05],0.01 [&lt;0.01-0.02]
209,Western Pacific,1991,30 000 [19 000–40 000],0.02 [0.01–0.03],0.03 [0.02–0.04],0.01 [&lt;0.01-0.01]
210,Western Pacific,1990,23 000 [14 000–31 000],0.02 [&lt;0.01–0.02],0.02 [0.02–0.03],0.01 [&lt;0.01-&lt;0.01]

In [87]:
df3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Number of new HIV infections',
       'New HIV infections (per 1000 uninfected population)',
       'New HIV infections (per 1000 uninfected population).1',
       'New HIV infections (per 1000 uninfected population).2'],
      dtype='object')

In [88]:
df3.columns=['WHO region', 'Year', 'Number of new HIV infections',
       'New HIV infections (per 1000 uninfected population) Both Sexes',
       'New HIV infections (per 1000 uninfected population).1 Male',
       'New HIV infections (per 1000 uninfected population).2 Female']
df3

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) Both Sexes,New HIV infections (per 1000 uninfected population).1 Male,New HIV infections (per 1000 uninfected population).2 Female
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
...,...,...,...,...,...,...
206,Western Pacific,1994,140 000 [87 000–180 000],0.09 [0.05–0.12],0.13 [0.08–0.17],0.05 [0.03-0.06]
207,Western Pacific,1993,50 000 [32 000–67 000],0.03 [0.02–0.04],0.05 [0.03–0.06],0.02 [&lt;0.01-0.02]
208,Western Pacific,1992,40 000 [25 000–53 000],0.03 [0.02–0.03],0.04 [0.02–0.05],0.01 [&lt;0.01-0.02]
209,Western Pacific,1991,30 000 [19 000–40 000],0.02 [0.01–0.03],0.03 [0.02–0.04],0.01 [&lt;0.01-0.01]
210,Western Pacific,1990,23 000 [14 000–31 000],0.02 [&lt;0.01–0.02],0.02 [0.02–0.03],0.01 [&lt;0.01-&lt;0.01]

In [89]:
df3=df3[1:]
df3

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) Both Sexes,New HIV infections (per 1000 uninfected population).1 Male,New HIV infections (per 1000 uninfected population).2 Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
5,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]
...,...,...,...,...,...,...
206,Western Pacific,1994,140 000 [87 000–180 000],0.09 [0.05–0.12],0.13 [0.08–0.17],0.05 [0.03-0.06]
207,Western Pacific,1993,50 000 [32 000–67 000],0.03 [0.02–0.04],0.05 [0.03–0.06],0.02 [&lt;0.01-0.02]
208,Western Pacific,1992,40 000 [25 000–53 000],0.03 [0.02–0.03],0.04 [0.02–0.05],0.01 [&lt;0.01-0.02]
209,Western Pacific,1991,30 000 [19 000–40 000],0.02 [0.01–0.03],0.03 [0.02–0.04],0.01 [&lt;0.01-0.01]
210,Western Pacific,1990,23 000 [14 000–31 000],0.02 [&lt;0.01–0.02],0.02 [0.02–0.03],0.01 [&lt;0.01-&lt;0.01]

In [92]:
df3.dtypes

WHO region                                                        object
Year                                                              object
Number of new HIV infections                                      object
New HIV infections (per 1000 uninfected population) Both Sexes    object
New HIV infections (per 1000 uninfected population).1 Male        object
New HIV infections (per 1000 uninfected population).2 Female      object
dtype: object

In [99]:
df3=df3.reset_index(drop=True)

In [101]:
for i in range(len(df3)):
    df3['Number of new HIV infections'][i]=df3['Number of new HIV infections'][i].split("[")[0]

In [102]:
for j in range(len(df3)):
    l=df3['Number of new HIV infections'][j].split(" ")
    ans=""
    for i in range(len(l)):
        ans+=l[i]
    df3['Number of new HIV infections'][j]=int(ans)

In [104]:
for i in range(len(df3)):
    df3['New HIV infections (per 1000 uninfected population) Both Sexes'][i]=df3['New HIV infections (per 1000 uninfected population) Both Sexes'][i].split("[")[0]

In [106]:
for i in range(len(df3)):
    df3['New HIV infections (per 1000 uninfected population).1 Male'][i]=df3['New HIV infections (per 1000 uninfected population).1 Male'][i].split("[")[0]
    df3['New HIV infections (per 1000 uninfected population).2 Female'][i]=df3['New HIV infections (per 1000 uninfected population).2 Female'][i].split("[")[0]

In [107]:
df3

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population) Both Sexes,New HIV infections (per 1000 uninfected population).1 Male,New HIV infections (per 1000 uninfected population).2 Female
0,Global,2019,1700000,0.22,0.23,0.21
1,Global,2018,1700000,0.23,0.24,0.22
2,Global,2017,1800000,0.24,0.24,0.23
3,Global,2016,1800000,0.25,0.25,0.24
4,Global,2015,1900000,0.26,0.26,0.26
...,...,...,...,...,...,...
205,Western Pacific,1994,140000,0.09,0.13,0.05
206,Western Pacific,1993,50000,0.03,0.05,0.02
207,Western Pacific,1992,40000,0.03,0.04,0.01
208,Western Pacific,1991,30000,0.02,0.03,0.01
209,Western Pacific,1990,23000,0.02,0.02,0.01

In [119]:
df3.dtypes

WHO region                                                        object
Year                                                              object
Number of new HIV infections                                      object
New HIV infections (per 1000 uninfected population) Both Sexes    object
New HIV infections (per 1000 uninfected population).1 Male        object
New HIV infections (per 1000 uninfected population).2 Female      object
dtype: object

In [120]:
df3.to_excel('newUpdated_HIV_0000000026,SDGHIV (1).xlsx',index=False)